<form class="user-form" *ngIf="data.createUser == false">
    <mat-form-field class="example-full-width">
      <mat-label>Enter name</mat-label>
      <input matInput value="{{data.name}}" [(ngModel)]="name" name="name">
    </mat-form-field>

    <mat-form-field class="example-full-width" >
        <mat-label>Enter email</mat-label>
        <input matInput value="{{data.email}}" [(ngModel)]="email" name="email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="role">
        <mat-label>Role</mat-label>
        <mat-select>
          <mat-option *ngFor="let role of roles" [value]="role" (click)="selectRole(role)">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="save-btn-container">
        <button mat-raised-button (click)="updateUser(); openSnackBar('Successfully updated user', 'OK')" class="save-btn" color="accent">Save</button>
      </div>
  </form>

  <form *ngIf="data.createUser == true" class="user-form">
    <mat-form-field class="example-full-width">
        <mat-label>Enter name</mat-label>
        <input matInput [(ngModel)]="name" name="name">
      </mat-form-field>

      <mat-form-field class="example-full-width" >
        <mat-label>Enter email</mat-label>
        <input matInput [(ngModel)]="email" name="email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="role">
        <mat-label>Role</mat-label>
        <mat-select>
          <mat-option *ngFor="let role of roles" [value]="role" (click)="selectRole(role)">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="save-btn-container">
        <button mat-raised-button (click)="createUser(data.allData); openSnackBar('Successfully created user', 'OK')" class="save-btn" color="accent" [disabled]="name == '' || email == ''">Create User</button>
      </div>
  </form>

