<form class="user-form">
    <mat-form-field class="example-full-width">
      <mat-label>Enter name</mat-label>
      <input matInput value="{{data.name}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Enter email</mat-label>
        <input matInput value="{{data.email}}">
      </mat-form-field>

      <mat-form-field appearance="fill" class="role">
        <mat-label>Role</mat-label>
        <mat-select>
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="save-btn-container">
        <button mat-raised-button (click)="saveChanges()" class="save-btn" color="accent">Save</button>
      </div>
      
  </form>

