<table class="table">
  <thead>
    <tr>
      <mat-checkbox></mat-checkbox>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr *ngFor="let item of employeeData">
      <mat-checkbox class="table-data"></mat-checkbox>
      <td class="table-data">{{ item.name }}</td>
      <td class="table-data">{{ item.email }}</td>
      <td class="table-data">{{ item.role }}</td>
      <td class="table-data">
        <img src="../../../assets/edit-icon.svg" alt="edit" class="icon">
        <img src="../../../assets/delete-icon.svg" alt="delete" class="icon" id="delete">
      </td>
    </tr>
  </tbody>
</table>
