<table class="table">
  <thead>
    <tr>
      <mat-checkbox [checked]="allSelected" (change)="selectAll($event.checked)"></mat-checkbox>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr *ngFor="let item of employeeData | searchFilter: searchText; let i = index">
      <mat-checkbox class="table-data" [(ngModel)]="item.isSelected" (change)="selectUser()"></mat-checkbox>
      <td class="table-data">{{ item.name }}</td>
      <td class="table-data">{{ item.email }}</td>
      <td class="table-data">{{ item.role }}</td>
      <td class="table-data">
        <button><img src="../../../assets/edit-icon.svg" alt="edit" class="icon"></button>
        <button (click)="deleteUser(i)"><img src="../../../assets/delete-icon.svg" alt="delete" class="icon" id="delete"></button>
      </td>
    </tr>
  </tbody>
</table>

<div class="app-container-even">
  <button mat-raised-button color="warn" *ngIf="selected == true" (click)="deleteSelectedUsers()">Delete Selected</button>
  <app-pagination></app-pagination>
  <div></div>
  <div></div>
</div>
