<table class="table">
  <thead class="table-head">
    <tr>
      <mat-checkbox [checked]="allSelected" (change)="selectAll($event.checked)"></mat-checkbox>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr *ngFor="let item of initData | searchFilter: searchText; let i = index" class="table-row">
      <td><mat-checkbox class="table-data checkbox" [(ngModel)]="item.isSelected" (change)="selectUser()"></mat-checkbox></td>
      <td class="table-data">{{ item.name }}</td>
      <td class="table-data">{{ item.email }}</td>
      <td class="table-data">{{ item.role }}</td>
      <td class="table-data">
        <button (click)="editUser(i)"><img src="../../../assets/edit-icon.svg" alt="edit" class="icon"></button>
        <button (click)="deleteUser(i, item.name)"><img src="../../../assets/delete-icon.svg" alt="delete" class="icon" id="delete"></button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="initData == undefined" class="app-container-center loading-container">
  <p>Loading...</p>
  <mat-spinner></mat-spinner>
</div>

<div class="app-container-even">
  <mat-form-field appearance="fill" class="role">
    <mat-label>Items per page</mat-label>
    <mat-select>
      <mat-option *ngFor="let itemNumber of itemNumbers" [value]="itemNumber" (click)="selectItemsPerPage(itemNumber)">
        {{itemNumber}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>Page {{currentPage}} - {{totalPages}}</p>
  <button (click)="prev()" [disabled]="currentPage == 1" mat-raised-button>prev</button>
  <button (click)="next()" [disabled]="currentPage == totalPages" mat-raised-button>next</button>
</div>

<div>
  <button mat-raised-button color="warn" *ngIf="selected == true" (click)="deleteSelectedUsers()">Delete Selected</button>
  <div></div>
  <div></div>
</div>


